$base-max-width: 1240px;
$base-font-family: "Roboto-Regular", sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5;
$base-text-color: #cacaca;
$base-background: #08020d;

$rem-base: $base-font-size;

$colors: (
  white: #FFFFFF,
  black: #08020D,
  gray: #E0E0E0,
  dark-gray: #CACACA,
  dark: #3C3B3D,
  green: #34C176,
  orange: #F89202,
  purple: #5328A1,
  dark-red: #95390C,
  transparent: transparent,
);

$heading-size: (
  "desctop": (
    h1: 60px,
    h2: 38px,
    h3: 24px,
    h4: 18px
  ),
  "mobile": (
    h1: 30px,
    h2: 18px
  )
);

$font-size: (
  s7: (64px),
  s6: (56px),
  s5: (48px),
  s4: (40px),
  s3: (30px),
  s2: (24px),
  s1: (18px),
  small: (12.8px),
  default: ($base-font-size),
);

